h1 {
	text-align: center;
}

.red    { color: red; }
.blue   { color: blue; }
.green  { color: green; }
.orange { color: orange; }

.big   { font-size: 2em; }
.small { font-size: 0.7em; }

.center { text-align: center; }
.bold { font-weight: bold; }
.sans { font-family: sans-serif; }

.styledFont {
	font-family: sans-serif;
	color: green;
	font-size: 1.2em;
}

#styledImage {
	border: solid orange 10px;
}
